/* General styles for contact-us section */
/* .contact-us {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
} */


.contact-us h2 {
  position: relative; 
}

.contact-us h2::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color:  #288073;
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
}


.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Contact Business Section */
.contact-business {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Space between the sections */
  margin-bottom: 2rem; /* Space below the contact-business section */
}

.contact-info, .business-hours {
  flex: 1; /* Ensure both sections take up equal width */
  min-width: 0; /* Prevents overflow on small screens */
  background-color: #f9f9f9; 
 
  padding: 1.5rem; /* Padding inside the boxes */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

.contact-info h2, .business-hours h2 {
  margin-top: 0;
  color:   #288073;
}

.contact-info p {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-business {
    flex-direction: column;
    gap: 1rem; /* Adjust gap for vertical stacking */
  }
}

/* Contact Form Section */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Center the form */
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 1rem; /* Space below the heading */
  color:   #288073;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box; /* Ensure padding does not affect width */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  margin: 5px 0;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contact-form button {
  padding: 10px 20px;
  background-color:  #288073;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.contact-form button:hover {
  background-color:  blue;
}

/* Extra Content */
.get-in-touch {
  text-align: center;
  margin-top: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}

.get-in-touch h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color:  #288073;
}

.get-in-touch p {
  font-size: 1rem;
  color: #555;
}





