.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Position from the bottom */
    right: 20px; /* Position from the right */
    background-color: #128C7E; 
    color: white;
    border-radius: 100%; 
    padding: 8px 18px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
    text-align: center;
    font-size: 34px; /* Icon size */
    z-index: 1000; /* Ensure it's on top */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E; 
    transform: scale(1.1); 
  }
  
  .whatsapp-button i {
    margin: 0;
  }
  


  /* Responsive Styles */
@media (max-width: 768px) {
    .whatsapp-button {
        padding: 5px 10px;  /* Smaller padding for mobile */
      font-size: 20px; /* Smaller icon size for mobile */
    }
  }
  
  @media (max-width: 480px) {
    .whatsapp-button {
        padding: 5px 10px;  /* Even smaller padding for smaller screens */
      font-size: 16px; /* Further reduced icon size */
    }
  }