/* src/Styles/WhyTalvox.css */
.why-talvox {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .why-talvox h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    color: black;
  }



  .why-talvox h2 {
    position: relative; /* Needed for absolute positioning of the ::after pseudo-element */
  }
  
  .why-talvox h2::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }



  
  .why-talvox ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .why-talvox ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .why-talvox p {
    font-size: 1.2rem;
    /* color: rgb(81, 57, 57); */
    color: black;
  }
  